@use './colors' as *;

.app-success-text {
  color: $success-600;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}

.app-error-text {
  color: $danger-500;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  font-size: 0.8rem;
}
